body{

}
h1{
	font-family: 'Pontano Sans', sans-serif;
	background-color: red;
	display: inline-block;
}
h2{
	font-family: 'Varela Round', sans-serif;
	background-color: blue;
	display: inline-block;
}
h3{
	background-color: green;
	display: inline-block;
}
#buscador{
	display: inline-block;
}

/* 
font-family: 'Varela Round', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Bangers', cursive;
*/