body, html, h2{
	margin: 0;
	padding: 0;
}

body{
	background-color: ;
	font-family: ;
	color: ;
}
header{
	height: 100px;
}

.logos{
	width: 60%;
	margin-top: 15%;
	position: relative;
	left: 20%;
}
.logoPrincipal{
	position: relative;
	top: 30px;	


}
h1{
	font-family: Sans-serif;
	font-size: 1.5em;
	color: #16a085;
}
#buscador{
	background-color: white;
	width: 70%;
	margin-top: 6%;
	margin-right: auto;
	margin-left: auto;
	padding: 5%;
	border-radius: 10px;
	font-size: 20px;
}

.caja{
	width: 90%;
	margin-top: 20%;
	margin-left: 5%;
}

.botonImagen{
  height:40px;
  width:40px;
  position: absolute;
  top : 5%;
  right: 5%;
}

.botonSubmit{
	height: 35px;
	width: 35px;
	position: relative;
	top: 10px;
}
h2{
	
}

footer{
	background-color: #2c3e50;
	padding: 5%;
	margin-top: 10%;
	color: white;
}
a{
	text-decoration: none;
	color: #ecf0f1;
}
h3{
	font-size: 1em;
}

.descripcion{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Pontano Sans', Sans-serif;
	font-size: 1.2em;
	color: #2c3e50;
	margin-top: 2%;
}

@media (min-width: 640px){
	.caja{
		margin-top: 5%;
		margin-left: 10%;
	}
	h1{
	font-size: 1.8em;
	margin-left: 10%;
	}
	#buscador {
		margin-top: 2%;
		height: 10px;
	}
	.logos{
	width: 40%;
	left: 30%;
	}
	.descripcion{
		margin-top: 5%;
	}

}

@media (min-width: 1024px){
	.logoPrincipal{
		top: 40px;
		left: 20px;
	}
	.botonImagen{
  		height:50px;
  		width:50px;
  		top : 3%;
  		right: 3%;
	}
	
	h1{
	
	font-size: 1.8em;
	margin-left: 22%;
	margin-top: 15%;
	}
	#buscador {
		margin-top: 0;
		padding: 1%;
		font-size: 1em; 
		width: 40%;
		margin-left: 20%;
		margin-right: 0;
	}
	.botonSubmit{
		height: 30px;
		width: 30px;
	}
	.info{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 30vh 30vh;
		margin-top: 10%;
	}
	
	.descripcion{
		margin-top: 0;
	}

}

@media (min-width: 1200px){
	h1{
		font-size: 1.8em;
		margin-left: 30%;
		margin-top: 10%;
	}
	#buscador {
		margin-top: 0;
		padding: 1%;
		font-size: 1em; 
		width: 30%;
		margin-left: 28%;
		margin-right: 0;
	}
	.info{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 25vh;
		margin-top: 10%;
	}
}