body, html, h2{
	margin: 0;
	padding: 0;
}

body{
	background-color: ;
	font-family: ;
	color: ;
}

.fila{
	width: 90%;
	margin: 2% auto;
	background-color: ;
	overflow: hidden;
}

.columna{
	 background-color: ;
	 box-sizing: border-box;
	 float: left;
	 margin-right: 2%;
	 padding: 1em;
	 width: 100%;
}
.logos{
	width: 100%;
}
.logoPrincipal{
	width: 8%;

}
h1{
	float: left;
	background-color: grey;
}
#buscador{
	background-color: grey;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding: 5%;
	border-radius: 10px;
}



/*SMALL GRID*/
@media (min-width: 480px){
	/*4 COLUMNAS Y 6 COLUMNAS SON 2 EN SMALL*/
	.cuatroColumnas .columna,
	.seisColumnas .columna{
		width: 49%
	}
	.cuatroColumnas .columna:nth-child(2n),
	.seisColumnas .columna:nth-child(2n){
		margin-right: 0;
	}
	.logoPrincipal{
	width: 20%;
	}
	h1{
	float: left;
	background-color: grey;
	font-size: 1.8em;
	}
	#caja{
	background-color: grey;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 5%;
	border-radius: 10px;
	}
	#buscador{
		width: 70%;
		height: .5em;
	}
	#botonSubmit{
		
	}

}

/*MEDIUM GRID*/
@media (min-width: 768px){
	/*RIGHT Y LEFT SIDEBAR*/
	.rightSidebar .sidebar,
	.leftSidebar .sidebar{
		width: 23.5%
	}
	.rightSidebar .content,
	.leftSidebar .content{
		width: 74.5%
	}
	.rightSidebar .sidebar{
		margin-right: 0;
	}
	.leftSidebar .content{
		margin-right: 0;
	}

	/*TRES COLUMNAS*/
	.tresColumnas .columna{
		width: 32%;
	}

	.tresColumnas .columna:nth-child(3n){
		margin-right: 0;
	}
	/*SEIS COLUMNAS*/
	.seisColumnas .columna{
		width: 15%;
	}
	.seisColumnas .columna:nth-child(2n){
		margin-right: 2% ;
	}
	.seisColumnas .columna:nth-child(6n){
		margin-right: 0;
	}


}

/*LARGE GRID GRID*/
@media (min-width: 1024px){

	/*DOS COLUMNAS*/
	.dosColumnas .columna{
		width: 49%;
	}

	.dosColumnas .columna:nth-child(2n){
		margin-right: 0;
	}


	/*CUATRO COLUMNAS*/
	.cuatroColumnas .columna{
		width: 23.5%;
	}

	.cuatroColumnas .columna:nth-child(2n){
		margin-right: 2%;
	}

	.cuatroColumnas .columna:nth-child(4n){
		margin-right: 0;
	}
	.logoPrincipal{
	width: 8%;

}

}

