body{
	font-family: 'Pontano Sans', sans-serif;
	
}
header{
	max-width: 70%;
	margin: auto;
}


h1{
	font-family: 'Varela Round', sans-serif;
	
	margin: auto;
	background-color: grey;
	
}
h2{
	
	background-color: grey;
	
	
	
}
h3{
	box-sizing: border-box;
	background-color: grey;
	text-align: center;
	
	

	
}
#buscador{
	width: 70%;
	height: 30px;
	display: inline-block;

	
}
#botonSubmit{
	position: absolute;
	height: 35px;
	background-image: linear-gradient(to bottom, #34d9d9, #2980b9);
  	border-radius: 13px;
  	
  	color: #ffffff;
  	padding: 2px 20px 2px 20px;
  	text-decoration: none;
  	font-size: 18px;
}

#botonSubmit:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

	
}
footer{
	
}
footer > ul > li > a{
	text-decoration: none;
	color: #D8D8D8;
	
}
footer > ul{

	list-style: none;
	background-color: #0A2A0A;
	position: absolute;
	bottom: 0px;


}

/* 
font-family: 'Varela Round', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Bangers', cursive;
*/